{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié!{% endblock %}

{% block body %}
<div>
    <p>
        {{subject}}
    </p>
    <p>
        {{content}}
    </p>
</div>
{% endblock %}
